colors {
    color: #fafafa;
    color: #A7A9AC;
    color: #8e8e8e;
    color: #8DC63F;
    color: #52735B;
    color: #6b6b6b;

}

/*
#fafafa : background light grey
#A7A9AC : gray text
#8e8e8e : gray (usually HRs or borders)
#a6a7aa : dark gray
#8DC63F : light green
#52735B : dark green

grey: #A7A9AD
Myriad Pro is main font
*/


/* ---- RESETS ---- */
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: "Myriad Pro", sans-serif;
    background-color: #fafafa;
    width: 100%;
    margin:auto;
}
h1, h2, h3, h4, h5, h6, p, a {
    margin-bottom: 16px;
    color:#6b6b6b;
}
.container {
    width: 90%;
    margin: auto;
    /*background-color:yellow;*/
}

/* ---- LOGO & KNOT ---- */

.hamburger {
    display: none;
}

.navContainer {
    position: fixed;
    top:0;
    z-index: 5;
    overflow: hidden;
    width:100%;
    background-color: white;
}

/* ---- HEADER ---- */
header {
    width: 100%;
    margin:0 auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
header a {
    margin:7px 10px 0 10px;
    color: #8DC63F;
    font-size:20px;
    text-decoration: none;
}
header a:hover {
    color: #6b6b6b;
}
.logo {
    height: 70px;
}
.bag {
    height: 30px;
    color:#aed77a;
    margin-left: auto;
}

/* ---- NAVS ---- */
/* --- top nav --- */
nav.top {
    width:95%;
    height: 45px;
    display: flex;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
    background-color: white;
}
nav.top div {
    min-height:100%;
    padding:0 30px;
    display: flex;
    box-sizing: border-box;
}
nav.top a:hover {
    /*color: #8DC63F;*/
}
nav.top a {
    text-decoration: none;
    margin:auto;
    white-space: nowrap;
    color: #8e8e8e;
    font-weight: lighter;
}
span {
    color: #aed77a;
    text-decoration: underline;
}
/* --- bottom nav --- */
nav.bottom {
    height: 40px;
    display: flex;
    border-bottom: solid;
    border-top: solid;
    border-width: thin;
    border-color: #BCBEC0;
    background-color: white;
}
nav.bottom div {
    margin:auto;
    min-height:100%;
    padding:0 30px;
    display: flex;
    box-sizing: border-box;
}
nav.bottom a:hover {
    color: #8DC63F;
}
nav.bottom div:hover {
    border-bottom: 1px solid darkgreen;
}
nav.bottom a {
    text-decoration: none;
    margin:auto;
    white-space: nowrap;
    color: #8e8e8e;
    font-weight: lighter;
    font-size: 18px;
}

/* ---- BANNER ---- */
.banner {
    width: 90%;
    margin: 280px auto 120px auto;
    /*background-color: blue;*/
}
.banner img {
    width: 60%;
    margin: auto;
    display: block;
    /*background-color: #b3d4fc;*/
}
.banner button {
    margin: 8% auto 0 auto;
    display: block;
    padding: 15px 10px;
    width:40%;
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: white;
    background-color: #8DC63F;
    border-radius: 40px;
    border: 3px solid #8DC63F;
}
.banner button:hover {
    color: #8DC63F;
    background-color: white;
}
.banner button span {
    font-style: italic;
    font-weight: lighter;
    text-decoration: none;
    color:white;
    font-family: "Times New Roman", serif;
}
.banner button span:hover {
    color: #8DC63F;
}

/* ---- DIVIDERS ---- */
/* --- title dividers --- */
h1 {
    font-family: "Times New Roman", serif;
    font-size: 60px;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
    width:100%;
    margin:auto;
}
h1:before,
h1:after {
    background-color: #BCBEC0;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h1:before {
    right: 0.3em;
    margin-left: -50%;
}
h1:after {
    left: 0.3em;
    margin-right: -50%;
}
h1 span { color: #8DC63F; font-style: italic; text-decoration: none;}
/* --- knot divider --- */
.knotDivider {
    width: 100%;
    align-items: center;
    margin: 30px auto 120px auto;
    display: flex;
}
.knotDivider div {
    background-color: #BCBEC0;
    width: 45%;
    height: 0.13em;
    margin-bottom:2px;
}
img.knot {
    width: 10%;
    margin: 0 -2px;
    padding-top: 0.25px;
}

/* ---- SUB BANNER & CRAFTSMAN ---- */

.subBanner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:5vh 0;
    /*background-color:orange;*/
}
.subBannerCraft {
    width: 100%;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    margin:5vh 0 2vw 0;
    /*background-color:orange;*/
}
.section {
    width:30%;
    /*background-color: white;*/
    flex:auto;
}
.section:nth-child(2) {
    margin: 0 2vw;
}
.section img {
    width: 100%;
    height: auto;
}
.section h2, .section h3, .section p {
    flex: auto;
}
.section h2 {
    font-size: 36px;
}
.section h2, .section h3 {
    font-weight: normal;
    margin: 1vw 1vw
}
.section p {
    margin: 0 1vw 2vw 1vw;
}

/* ---- GALLERY ---- */
.gallery, .causes, .subBannerCraft {
    padding: .5vw;
    font-size: 14px;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    /*background-color:pink;*/
}
.gallery .product, .causes .cause, .subBannerCraft .section {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 175px;
    margin: 1.5vw 1.75vw 3.5vw 1.75vw;
    background-color: white;
}
.causes .cause {
    background-color: transparent;
}
.gallery .product img {
    width: 100%;
}
.gallery .product h4:hover {
    color: #8DC63F;
}
.gallery .product h4,
.gallery .product p {
    flex: auto;
    margin: 1vw 1.5vw;
}
.floatLeft {
    float: left;
}
.floatRight {
    float:right;
}

p.more {
    width: 100%;
    margin-right:1.5vw;
    text-align: right;
    color: #8DC63F;
    margin-bottom: 8vw;
}

@media screen and (max-width: 400px) {
    .gallery .product {
        margin: 0;
    }
    .gallery {
        padding: 0;
    }
}


/* ---- CAUSES ---- */
/*.causeSection {*/
    /*width: 100%;*/
/*}*/

.cause img {
    width: 100%;
    height: 80%;
}
.cause h2, .cause h3, .cause p {
    flex: auto;
}
.cause h2, .cause h3 {
    text-align: center;
    font-weight: normal;
    margin: 1vw 0
}
.cause p {
    margin: 0 0 2vw 2vw;
}

/* ---- FOOTER ---- */
footer {
    width:100%;
    padding: 2vw 0;
    background-color: #aed77a;
    color: #52735B;
}
.contents {
    width: 90%;
    margin:auto;
    display:flex;
    justify-content: space-between;
}
.column p, .column h4 {
    font-size:12px;
    margin:3px 0;
}
.column h4 {
    font-weight: normal;
    margin:0 0 0.5vw 0;
}
.social {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.social img {
    width: 25px;
    height:25px;
    padding: 0 0.5vw;
}



















/* -------  1024px LAPTOP ------- */
@media screen and (max-width: 1024px) {
    .gallery .product {
        width: 250px;
    }
    .subBanner .section h2 {
        font-size:26px;
    }
}


/* -------  768px IPAD ------- */
@media screen and (max-width: 768px) {
    .hamburger {
        display: none;
    }
    nav.top div {
        padding: 0 15px;
    }
    h1 {
        font-size:48px;
    }
    .banner img {
        width:60%;
    }
    .banner button {
        width:40%;
        font-size:16px;
    }
    img.knot {
        width:17%;
    }

    .gallery .product, .causes .cause, .subBannerCraft .section {
        width:300px;
    }
    .subBannerCraft .section:nth-child(n+3),
    .causes .cause:nth-child(n+3){
        display: none;
    }
}


/* -------  425px PHONE ------- */
@media screen and (max-width: 425px) {
    .top, .bottom {
        display:none;
    }
    .navContainer {
        z-index: 0;
        /*position: relative;*/
        height:186px;
        top:-30px;
    }

    header {
        margin-top:50px;
        /*margin-left:10px;*/
    }
    header img.bag {
        margin-left: auto;
    }
    /* -- see hamburger.css for hamburger nav that shows at this width -- */
}














